﻿@model OnlineStore.WebUI.Models.ShippingDetailsViewModel

@{
    ViewBag.Title = "Online Store: Checkout";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Checkout</h2>
        <p>This store is managed for @Session["CustomerName"]  by our partner Verser Technology.</p> 
        <p>The following information will be used to fulfil your order. The charge on your credit card will appear as &ldquo;XXXXXXXXXXX&rdquo;</p>
        <p><strong>Please enter your shipping details.</strong></p>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <h3>Ship to</h3>
            <div class="form-group">
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmEmail)
                @Html.TextBoxFor(x => x.ConfirmEmail, new { @class = "form-control" })
            </div>

            <h3>Address</h3>

            foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (!(property.PropertyName == "FirstName" || property.PropertyName == "LastName" || property.PropertyName == "States" || property.PropertyName == "Email" || property.PropertyName == "ConfirmEmail"))
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "State")
                        {
                            @Html.DropDownListFor(x => x.State, new SelectList(Model.States), "Please select a state...", new { @class = "form-control" });
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                    </div>
                }
            }

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Complete order" />
            </div>
        }
    </div>
</div>