﻿@model OnlineStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Online Store: Your Cart";
}

<style>
    #cartTable td { vertical-align: middle; }
</style>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Shopping Cart</h2>
        <table id="cartTable" class="table">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-center">@line.Quantity</td>
                        <td class="text-left">@line.SaleProduct.Product.ProductName</td>
                        <td class="text-right">@line.SaleProduct.PriceIncGST.Value.ToString("c")</td>
                        <td class="text-right">
                            @((line.Quantity * line.SaleProduct.PriceIncGST.Value).ToString("c"))
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("id", line.SaleProduct.Id)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-sm btn-warning"
                                       type="submit" value="Remove" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.Cart.ComputeTotalValue().ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        @*<div class="text-center">
            <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
            @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
        </div>*@
    </div>
</div>
