﻿@model OnlineStore.WebUI.Models.ProductSummaryViewModel

@*<div class="well" style="min-height:220px">
    <h4 class="text-center" style="width:100px!important; float:left; margin-top:0">
        @if (Model.SaleProduct.Product.ProductImage != null)
        {
            <img class="img-thumbnail" width="80" height="80" src="@Url.Action("GetProductImage", "Sale", new { productId = Model.SaleProduct.Product.Id})" />
        }
    </h4>
    
    <div class="col-xs-8">
        <h4 style="margin-top:5px"><b>@Model.SaleProduct.Product.ProductName</b></h4>
        <p>@Html.Raw(@Model.SaleProduct.Product.Description)</p>
        @if (Model.SaleProduct.Product.ItemType_ID != 21)
        {
            <p><a href="https://payments.verser.com.au/OnlineStore/Home/FAQ" target="_blank">Find out more about refurbished ex-lease products</a></p>
        }
    </div>
    
    <div class="col-xs-2">
        <h4 style="margin-top:5px; padding-right:5px">
            <span>@Model.SaleProduct.PriceIncGST.Value.ToString("c")</span>
            <br/>
            
            <span style="font-size:small">Inc.GST</span>
        </h4>
        <br/>
        <div style="padding-right:5px">
            @if (Model.InStock)
            {
                <span class="text-success">In Stock</span>
            }
            else
            {
                <span class="text-danger">Out of Stock</span>
            }
        </div>
        <br />
        <br />
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="panel">
                @Html.Hidden("id", Model.SaleProduct.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to Cart" @(Model.InStock ? "" : "disabled") />
            </div>
        }
    </div>
</div>*@

<div class="container well" style="border:1px solid lightGrey">
    <div class="row">
        <div class="col-md-2 text-center">
            @if (Model.SaleProduct.Product.ProductImage != null)
            {
                <img class="img-thumbnail" width="120" height="120" style="margin-bottom:15px" src="@Url.Action("GetProductImage", "Sale", new { productId = Model.SaleProduct.Product.Id})" />
            }
            else
            {
                <img src="~/Content/Images/no_image_available.jpg" width="120" height="120" style="margin-bottom:15px" />
               
            }
        </div>
        <div class="col-md-7">
            <h4 style="margin-top:5px"><b>@Model.SaleProduct.Product.ProductName</b></h4>

            @if (Model.AssetAllocation != null)
            {
                <div><b>Employee ID:</b> @Model.AssetAllocation.EmployeeID</div>
                <div><b>@Model.AssetAllocation.AssetID_Type:</b> @Model.AssetAllocation.AssetID</div>
                <br />
            }

            <p>@Html.Raw(@Model.SaleProduct.Product.Description)</p>

            @if (Model.SaleProduct.Product.ItemType_ID != 21)
            {
                @*<p><a href="https://payments.verser.com.au/OnlineStore/Home/FAQ" target="_blank">Find out more about refurbished ex-lease products</a></p>*@
            }
            <input type="checkbox" style="width: 20px;height:16px;" id="chkboxConfirm"/> <b style="font-weight:800;height:20px;vertical-align:top">
            The Serial No @Model.AssetAllocation.AssetID Must Match With The Serial Number provided to Verser By DET. If itdoes not then we need to replace the line highlighted above with.
          @*I DO Confirm that  Serial No @Model.AssetAllocation.AssetID Matches To My physical Serial No.*@
            </b>
        </div>
        <div class="col-md-3">
            <h4 style="margin-top:5px; padding-right:5px">
                <span>@Model.SaleProduct.PriceIncGST.Value.ToString("c")</span>

                <span style="font-size:x-small">Inc.GST</span>
                <br />
                @*@if (Model.InStock)
                    {
                        <span class="text-success" style="font-size:small">In Stock</span>
                    }
                    else
                    {
                        <span class="text-danger" style="font-size:small">Out of Stock</span>
                        <br />
                        <span style="font-size:small">Please check again soon</span>
                    }*@
            </h4>

            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.Hidden("id", Model.SaleProduct.Id)

                if (Model.AssetAllocation != null)
                {
                    @Html.Hidden("assetAllocationId", Model.AssetAllocation.Id)
                }

                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                <input id="btnAddToCart" type="@(Model.InStock ? "submit" : "hidden")" class="btn btn-success" value="Add to Cart" />
            }
        </div>
    </div>
    

</div>
<script>
    $(document).ready(function () {
        $("#btnAddToCart").attr("disabled", !($(this).is(":checked")));
        });
    $('#chkboxConfirm').change(function () {
            $("#btnAddToCart").attr("disabled", !($(this).is(":checked")));
    });
</script>

